span.mr-1
  = link_to survey_statuses_url(survey, status: 'archived'), method: :post, data: { confirm: "Are you sure you want to archive this project?" }, class: "btn btn-outline-info" do
    i.fa.fa-archive.mr-2
    | Archive
