= link_to button_status, request.query_parameters.merge(status: button_status), class: "btn btn-outline-#{survey_status_class(button_status)} btn-xs mr-1 #{active_class?('vendor_status', button_status)}"
