/ li.nav-item.mr-3 = link_to 'Events', events_url, class: 'nav-link'
li.nav-item.mr-3 = link_to 'Earnings reports', reports_url, class: 'nav-link'
li.nav-item.mr-3 = link_to 'Payment upload', payments_url, class: 'nav-link'
li.nav-item.mr-3 = link_to 'Panelist suspension', new_panelist_suspension_url, class: 'nav-link'
li.nav-item.mr-3 = link_to 'Data', table_data_dashboard_url, class: 'nav-link'
li.nav-item.mr-3 = link_to 'API tokens', api_tokens_url, class: 'nav-link'
li.nav-item.mr-3 = link_to 'Jobs', jobs_url, class: 'nav-link'
li.nav-item.mr-3 = link_to 'Project processor', project_processors_url, class: 'nav-link'
li.nav-item.mr-3 = link_to 'Traffic step lookup', new_traffic_step_lookup_url, class: 'nav-link'
