p Dear Opinions4Good Panelist,
p
  |
    Thank you for your interest in becoming a valued member of the growing Opinions4Good panel community.
    Our panelists make real money and can choose in turn to support a charitable nonprofit from our list of over 300 charity partners.
p
  |
    We noticed that you never finished signing up. To start receiving survey invites, please complete your demographic questionnaire by logging in at my.op4g.com.
    This demographic questionnaire allows us to better send you relevant surveys for which you may qualify.
p
  |
    When you first joined you verified your email address. The next step is to login in and complete a brief demographic survey which will earn you your first $2.
    We use this information to help connect you with surveys you can qualify for. Information collected includes:
ul
  li Date of Birth
  li Gender
  li Marital Status
  li Employment/Industry Focus
  li Personal Interests
  li Health Information
p
  |
    Each element of Opinions 4 Good is designed to fiercely protect your privacy and information.
    We store personal and survey data in two physically separate, secure servers, denying client or third party access to individual member data.
    We also assign non-traceable usernames to all surveys submitted, thereby protecting personal identity.
    Finally, when members terminate their accounts, Opinions 4 Good wipes all personal, demographic, and member information from our database (with the exception of information required by law). Here is our privacy policy.
p
  |
    Why should I finish signing up for Opinions4Good?
    Our panelists have the opportunity to engage with interesting market research surveys--and they get paid monthly for earnings over $10 via Paypal!
    Opinions4Good also allows you to digitally volunteer to support your favorite cause--without opening your wallet.
    For more information on Opinions4Good, please visit our FAQ: Op4G Frequently Asked Questions.
    Still having problems? Feel free to get in touch with us directly at support@op4g.com.
    We need your insights to keep our panel awesome!
