h2.mb-3 Conditions générales d’utilisation

p En s’inscrivant à Opinions4Good, les membres déclarent qu’ils sont admissibles à une adhésion et liés par toutes les modalités des Conditions générales d’utilisation et de la Politique de confidentialité de membre Opinions4Good. En particulier, les Membres acceptent les conditions suivantes :

h3.mb-3.mt-4 Admissibilité

p L’adhésion à Opinions4Good est ouverte à toutes les personnes âgées d’au moins 13 ans. L’adhésion est offerte aux résidents des États-Unis et du Canada uniquement.  Les Membres peuvent seulement détenir un compte actif ; il est strictement interdit de détenir plusieurs comptes.

h3.mb-3.mt-4 Exigences PayPal et en matière de paiement

p Les comptes Opinions4Good sont traités et payés aux membres qui atteignent ou dépassent la somme de 10,00 USD au dernier jour du mois suivant.   Cela signifie qu’il y a un retard d’un mois, puisque nous exigeons que tous les membres valident leur compte PayPal et confirment leur identité avant l’envoi des paiements.

p Pour la validation, on vous demande d’accepter une microtransaction de la part d’Op4G sur votre compte PayPal afin de confirmer que votre identité correspond aux données de votre adhésion.   Op4G exige que les comptes PayPal de tous les membres soient enregistrés et validés par PayPal dans leur pays de résidence.  Les comptes PayPal non validés aux États-Unis, au Canada, au Royaume-Uni, en France, en Allemagne, en Espagne, en Italie ou en Australie échoueront la validation, ce qui peut entraîner la clôture du compte et la perte des points accumulés.

h3.mb-3.mt-4 Renseignements honnêtes et exacts

p Les membres Opinions4Good acceptent de fournir des renseignements vrais et exacts au cours du processus d’inscription, y compris une adresse et un code postal valides.  Si un membre fournit des renseignements faux, inexacts, dépassés, incohérents ou incomplets, ou si Opinions4Good ou l’un de ses Client a des motifs raisonnables de soupçonner que de tels renseignements sont faux, inexacts, dépassés, incohérents ou incomplets, Opinions4Good a le droit de résilier immédiatement son adhésion et/ou de refuser tout accès actuel ou ultérieur aux deux services ou leur utilisation, y compris la perte immédiate de tout solde de récompenses accumulé.

h3.mb-3.mt-4 Changements des renseignements personnels et autres

p Les Membres acceptent de mettre à jour leur profil en cas de changement au niveau de leurs renseignements personnels et autres, y compris, mais sans s’y limiter, une adresse postale ou électronique et des données démographiques valides en mettant à jour ces renseignements sur le portail de Membre Opinions4Good. Opinions4Good rappellera occasionnellement aux Membres de vérifier et mettre à jour leur profil et leur demandera de fournir ces efforts dans des délais opportuns.

h3.mb-3.mt-4 Incessibilité

p Les comptes Opinions4Good sont limités à une seule personne spécifiée dans les données d’inscription et de profil.  Les membres Opinions4Good n’ont pas le droit de transférer leur nom d’utilisateur ou les renseignements qui s’y rapportent à une autre personne et ils ne peuvent partager ou déléguer des opportunités ou invitations de recherche à des tiers sauf indication contraire dans l’invitation.

h3.mb-3.mt-4 Tolérance zéro pour les abus ou fraudes

p Les Membres acceptent de respecter les avantages et privilèges qui leur reviennent en tant que Membre Opinions4Good, et de ne pas en abuser. De tels abus comprennent, sans s’y limiter, tenter de gagner ou échanger des récompenses de toute manière qui s’oppose à l’objectif de ces modalités ou conditions, ainsi que tenter d’utiliser des liens d’invitation frauduleux ou éviter/contourner la validation du compte.

h3.mb-3.mt-4 Non-respect

p Le non-respect de toutes les déclarations applicables des Conditions générales d’utilisation et de la Politique de confidentialité ou toute conduite nuisible à Opinions4Good peuvent entraîner la perte de toute récompense gagnée et la résiliation de l’adhésion.  Opinions4Good seront les seules à effectuer ces déterminations lorsqu’elles soupçonnent des cas d’abus, de fraude ou de violation de ses règles. Toute décision prise par Opinions4Good sera finale et exécutoire.

h3.mb-3.mt-4 Notifications d’utilisation non autorisée

p Les Membres Opinions4Good acceptent de maintenir la confidentialité de leurs e-mails, mots de passe enregistrés et autres renseignements s’y rapportant afin de prévenir une utilisation non autorisée de leur compte. Il incombe aux Membres de notifier Opinions4Good de toute utilisation abusive de leur compte. Les membres ont la responsabilité exclusive de toute perte de récompenses, d’adhésion ou d’autres activités frauduleuses associées au partage de leur mot de passe.

h3.mb-3.mt-4 Accord de confidentialité

p Les membres Opinions4Good acceptent de protéger l’intégrité et la confidentialité de toute information dont ils prennent connaissance au cours de leur participation aux activités d’études de marché pour les Clients Opinions4Good. Cela comprend, sans s’y limiter, le consentement des Membres à ne pas copier ou distribuer des graphismes, vidéos ou autre contenu figurant dans les activités d’études de marché. Les Membres acceptent également de ne pas faire suivre les invitations aux activités à des tiers.

p Toutes les données personnelles des membres sont sécurisées et confidentielles. Les Membres Opinions4Good peuvent choisir de partager leurs nom, adresse postale et dons de leurs gains avec l’association sans but lucratif de leur choix.

h3.mb-3.mt-4 Adhésion volontaire

p L’adhésion est volontaire et votre consentement explicite est obligatoire pendant l’inscription.  Vous n’êtes soumis à aucune obligation ou exigence de demeurer Membre d’Opinions4Good. Les personnes peuvent résilier leur adhésion en se connectant au site Web Opinions4Good, et en sélectionnant l’option « Deactivate My Account » (Désactiver mon compte).  La résiliation entraînera la perte de toutes les récompenses accumulées atteignant moins de 10,00 USD.

h3.mb-3.mt-4 Limitation de responsabilité

p Opinions4Good ne sera en aucun cas responsable envers tout membre ou tiers pour tout dommage direct, punitif, particulier ou immatériel lié à la perte des données ou bénéfices découlant du, ou lié de quelque manière que ce soit au, service Opinions4Good associé à ce site Web, que la responsabilité soit jugée contractuelle ou délictuelle, et même si Opinions4Good a été spécifiquement avisée concernant la possibilité de tels dommages. La responsabilité globale de toute réclamation ou dommage découlant de ou relatif à l’accord Opinions4Good ne peut dépasser les montants payés ou payables à un Membre dans la période de six (6) mois précédant immédiatement l’événement qui a donné lieu à la réclamation.
