h2.mb-3 Nutzungsbedingungen

p Durch das Ausfüllen des Registrierungsverfahrens von Opinions4Good erklären die Mitglieder, dass sie berechtigt sind, Mitglied zu werden und an alle allgemeinen Geschäftsbedingungen der Opinions4Good Mitgliedschaftsbedingungen und Datenschutzrichtlinien gebunden zu sein. Insbesondere stimmen die Mitglieder den folgenden Bedingungen zu:

h3.mb-3.mt-4 Berechtigung

p Die Opinions4Good Mitgliedschaft steht allen Personen ab 17 Jahren offen. Die Mitgliedschaft ist nur für Einwohner der Vereinigten Staaten und Kanada verfügbar.  Mitglieder dürfen nur ein aktives Konto besitzen; mehrfache Konten sind strengstens untersagt.

p Die Mitgliedschaft steht allen Personen ab 17 Jahren mit Wohnsitz in einem der folgenden Länder offen: Vereinigte Staaten, Kanada, Großbritannien, Frankreich, Deutschland, Spanien, Italien und Australien.  Mitglieder dürfen nur ein aktives Konto besitzen; mehrfache Konten sind strengstens untersagt.

h3.mb-3.mt-4 Zahlungs- und PayPal-Anforderungen

p Die Opinions4Good Konten werden für alle Mitglieder verarbeitet und an diese ausgezahlt, die am letzten Tag des Folgemonats mindestens 10,00 US$ erreichen.   Dies bedeutet, dass es eine Verzögerung von einem Monat gibt, da wir von allen Mitgliedern verlangen, dass sie ihr PayPal-Konto und ihre Identität bestätigen, bevor Zahlungen gesendet werden.

h3.mb-3.mt-4 Für die Bestätigung müssen

p Sie eine Mikrotransaktion von Op4G zu Ihrem PayPal-Konto akzeptieren, um zu bestätigen, dass Ihre Identität mit Ihren Mitgliedschaftsdaten übereinstimmt.   Op4G verlangt, dass die PayPal-Konten aller Mitglieder innerhalb ihres Wohnsitzlandes von PayPal registriert und verifiziert werden.  PayPal-Konten, die nicht in den USA, Kanada, Großbritannien, Frankreich, Deutschland, Spanien, Italien oder Australien verifiziert wurden, werden nicht bestätigt und können zur Kontoauflösung und zur Verwirkung der aufgelaufenen Punkte führen.

h3.mb-3.mt-4 Ehrliche und korrekte Informationen

p Die Opinions4Good Mitglieder verpflichten sich, während des Registrierungsvorgangs wahrheitsgetreue und korrekte Informationen anzugeben, einschließlich einer gültigen Adresse und Postleitzahl.  Wenn ein Mitglied Informationen bereitstellt, die unwahr, ungenau, nicht aktuell, widersprüchlich oder unvollständig sind, oder wenn Opinions4Good oder einer seiner Kunden begründeten Anlass zu der Annahme hat, dass solche Informationen unrichtig, ungenau, nicht aktuell, widersprüchlich oder unvollständig sind, hat Opinions4Good das Recht, die Mitgliedschaft sofort zu beenden und/oder jeden aktuellen oder zukünftigen Zugang zu beiden Diensten oder deren Nutzung abzulehnen, einschließlich der sofortigen Verwirkung aufgelaufener Bonusguthaben.

h3.mb-3.mt-4 Änderungen persönlicher und anderer Informationen

p Die Mitglieder erklären sich damit einverstanden, ihre Profile mit Änderungen der persönlichen und sonstigen Informationen zu aktualisieren, einschließlich, aber nicht beschränkt auf gültige Postanschrift, E-Mail-Adresse und demografische Informationen, indem sie diese Informationen über das Portal von Opinions4Good aktualisieren. Opinions4Good wird die Mitglieder gelegentlich daran erinnern, ihre Profile zu überprüfen und zu aktualisieren, und um eine zeitnahe Erledigung dessen bitten.

h3.mb-3.mt-4 Nichtübertragbarkeit

p Opinions4Good-Konten sind auf eine einzige eindeutige Person beschränkt, die in den Registrierungs- und Profildaten angegeben ist.  Die Opinions4Good Mitglieder sind nicht berechtigt, ihren Benutzernamen oder damit verbundene Informationen an eine andere Person zu übertragen, und können Forschungsmöglichkeiten oder Einladungen an Dritte nicht bekannt geben oder delegieren, es sei denn, sie werden im Rahmen der Einladung dazu aufgefordert.

h3.mb-3.mt-4 Nulltoleranz gegenüber Missbrauch oder Betrug

p Die Mitglieder verpflichten sich, ihre Vergünstigungen und Privilegien als Mitglied von Opinions4Good einzuhalten und nicht zu missbrauchen. Solche Verstöße umfassen, sind aber nicht beschränkt auf, Versuche, Belohnungen in einer Weise zu verdienen oder einzulösen, die der Absicht dieser Bedingungen widerspricht, sowie jeden Versuch, betrügerische Einladungslinks zu verwenden oder Versuche zur Bestätigung eines Kontos zu vermeiden.

h3.mb-3.mt-4 Nichteinhaltung

p Die Nichteinhaltung aller anwendbaren Nutzungsbedingungen und Datenschutzerklärungen oder Verhaltensweisen, die Opinions4Good abträglich sind, können zur Verwirkung eingezahlter Prämien und zur Beendigung der Mitgliedschaft führen.  Bei Verdacht auf Missbrauch, Betrug oder Verstößen gegen die Regeln entscheidet Opinions4Good. Jede Entscheidung von Opinions4Good ist endgültig und bindend.

h3.mb-3.mt-4 Benachrichtigung bei nicht autorisiertem Gebrauch

p Die Opinions4Good Mitglieder verpflichten sich, die Vertraulichkeit ihrer registrierten E-Mail-Adresse, ihres Passworts und anderer damit verbundener Informationen zu wahren, um die unbefugte Nutzung ihres Kontos zu verhindern. Es liegt in der Verantwortung der Mitglieder, Opinions4Good über jede missbräuchliche Verwendung ihres Kontos zu informieren. Mitglieder sind allein verantwortlich für den Verlust von Prämien, Mitgliedschaften oder andere betrügerische Aktivitäten im Zusammenhang mit der Weitergabe ihres Passworts.

h3.mb-3.mt-4 Vertraulichkeitsvereinbarung

p Die Opinions4Good Mitglieder verpflichten sich, die Integrität und Vertraulichkeit aller Informationen, die sie bei der Teilnahme an Marktforschungsaktivitäten für Opinions4Good-Kunden sehen, zu schützen. Dies umfasst unter anderem die Zustimmung der Mitglieder, keine Grafiken, Videos oder anderen Inhalte, die in Marktforschungsaktivitäten zu finden sind, zu kopieren oder zu verbreiten. Die Mitglieder stimmen auch zu, keine Einladungen für Aktivitäten an Dritte weiterzuleiten.

p Alle Mitgliederinformationen sind sicher und werden vertraulich behandelt. Die Mitglieder von Opinions4Good können sich dafür entscheiden, ihren Namen, ihre Postanschrift und ihr gespendetes Einkommen an den gemeinnützigen Zweck ihrer Wahl weiterzugeben.

h3.mb-3.mt-4 Die Mitgliedschaft ist freiwillig

p Die Mitgliedschaft ist freiwillig und Ihre ausdrückliche Zustimmung ist während der Registrierung erforderlich.  Es besteht keine Verpflichtung und kein Erfordernis, Mitglied von Opinions4Good zu bleiben. Die Mitglieder können ihre Mitgliedschaft beenden, indem sie sich auf der Website von Opinions4Good anmelden und die Option „Mein Konto deaktivieren“ auswählen.  Alle aufgelaufenen Belohnungen von weniger als 10,00 USD verfallen bei der Kündigung.

h3.mb-3.mt-4 Haftungsbeschränkung

p In keinem Fall ist Opinions4Good gegenüber einem Mitglied oder Dritten haftbar für direkte, strafbare, spezielle oder Folgeschäden von verlorenen Daten oder Gewinnen infolge von oder aufgrund irgendeiner Verbindung mit dem mit dieser Website verbundenen Opinions4Good Service, unabhängig davon, ob Haftung aus Vertrag oder unerlaubter Handlung, und ungeachtet dessen, ob Opinions4Good ausdrücklich auf die Möglichkeit solcher Schäden hingewiesen wurde. Die Gesamthaftung für jegliche Ansprüche oder Schäden, die sich aus der Opinions4Good-Vereinbarung ergeben, darf nicht höher sein als die Beträge, die an ein Mitglied in den sechs (6) Monaten unmittelbar vor dem Ereignis, das die Forderung ausgelöst hat, gezahlt wurden oder zu zahlen sind.
