h2.mb-3 Terms of Use

p By completing the Opinions4Good registration process, members are stating they are eligible to become a member and be bound by all of the terms and conditions of the Opinions4Good membership terms of use and privacy policy. Specifically, members agree to the following terms:

h3.mb-3.mt-4 Eligibility

p Opinions4Good membership is open to all individuals at least 17 years of age or older. Membership is available to residents of the United States and Canada only. Members may only have one active account; multiple accounts are strictly prohibited.

h3.mb-3.mt-4 PayPal Requirements

p Opinions4Good members require a valid PayPal account registered and verified in their country of residence in order to receive payment of accrued rewards. PayPal accounts not verified in the United States, Canada, United Kingdom, France, Germany, Spain, Italy or Australia will fail verification and can result in account closure and forfeiture of accrued points.

h3.mb-3.mt-4 Honest and Accurate Information

p Opinions4Good members agree to provide true and accurate information during the registration process, including a valid address and postal code. If a member provides information that is untrue, inaccurate, not current, inconsistent or incomplete, or if Opinions4Good, or one of its clients has reasonable grounds to suspect such information is untrue, inaccurate, not current, inconsistent or incomplete, Opinions4Good has the right to immediately terminate membership and/or refuse any and all current or future access to, or use of both services, including the immediate forfeiture of any reward balance accrued.

h3.mb-3.mt-4 Changes in Personal & Other Information

p Members agree to update their profiles with any changes in personal and other information including, but not limited to, valid mailing address, e-mail address, and demographic information by updating such information through the Opinions4Good member portal. On occasion, Opinions4Good will remind members to review and update their profiles and request these efforts to be completed in a timely manner.

h3.mb-3.mt-4 Non-Transferability

p Opinions4Good accounts are limited to a single unique individual specified in the registration and profile data. Opinions4Good members are not permitted to transfer their username or related information to another individual and cannot share or delegate research opportunities or invitations to a third party unless instructed to do so within the invitation.

h3.mb-3.mt-4 Zero Tolerance of Abuse or Fraud

p Members agree to abide by and not abuse their benefits and privileges as an Opinions4Good member. Such abuses include, but are not limited to attempts to earn or redeem rewards in any manner which conflicts with the intent of these terms or conditions, as well as any attempt to utilize fraudulent invitation links or avoid/bypass attempts to verify an account.

h3.mb-3.mt-4 Failure to Comply

p Failure to comply with all applicable terms of use and privacy policy statements or any conduct that is detrimental to Opinions4Good and may result in forfeiture of any earned rewards and termination of membership. Opinions4Good shall be the sole determiner in cases of suspected abuse, fraud, or violation of its rules. Any decision made by Opinions4Good shall be final and binding.

h3.mb-3.mt-4 Notification of Unauthorized Use

p Opinions4Good members agree to maintain the confidentiality of their registered email, password and other associated information to prevent unauthorized use of their account. It is the members’ responsibility to notify Opinions4Good of any improper uses of their account. Members are solely responsible for any loss of rewards, membership or other fraudulent activities associated with the sharing of their password.

h3.mb-3.mt-4 Confidentiality Agreement

p Opinions4Good members agree to protect the integrity and confidentiality of any information they view in their participation in any market research activities for Opinions4Good clients. This includes, but is not limited to, members agreement not to copy or distribute any graphics, video or other content found in market research activities. Members also agree not to forward any activity invitations to any third parties.

p All member information is secure and confidential. Opinions4Good members may elect to have their name, mailing address and donated earnings shared with the benefiting non-profit of their choice.

h3.mb-3.mt-4 Membership is Voluntary

p Membership is voluntary and may be terminated at will. There is no obligation or requirement to remain a member of Opinions4Good. Individuals may terminate their membership by logging into the Opinions4Good website and selecting the Deactivate My Account option. Any accrued rewards less than $10.00 USD will be forfeited upon termination.

h3.mb-3.mt-4 Limitation of Liability

p In no event shall Opinions4Good be liable to any member or third party for direct, punitive, special or consequential damages of lost data or profits as a result of or in any way connected to the Opinions4Good service associated with this website, whether liability is asserted in contract or tort, and even if Opinions4Good has been specifically advised concerning the possibility of such damages. The aggregate liability for any claims or damages arising out of or related to the Opinions4Good agreement shall not exceed the amounts paid or payable to a member in the six (6) month period immediately proceeding the event which gave rise to the claim.
